<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>画像アップロードテスト</title>

    <!--<script defer src="{{ url_for('static', filename='Image_Processing.js') }}"></script>-->
</head>
<body>
    <header>
        <h1>アップロードテスト</h1>
    </header>
    <input id="fileupload" type="file" name="fileupload" /> 
  <button id="upload-button" onclick="uploadFile()"> Upload file </button>
    
    <!--ファイルのアップロード処理を追加-->

</body>
</html>